{
  "presets": [
    "react",
    "stage-0",
    [
      "env",
      {
        "targets": {
          "node": "current",
          "uglify": false
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
